<mat-toolbar color="primary">
        <button mat-button aria-label="Zurück" routerLink="/code">
            <mat-icon>arrow_back</mat-icon>
        </button>
    Projekt Übersicht
    <span class="spacer"></span>
    <button mat-button aria-label="Profil">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>

<mat-card>
    <mat-card-header>
        <mat-card-title>Letzte Projekte</mat-card-title>
        <span class="spacer"></span>
        <button mat-button aria-label="Projekte exportieren">
            <mat-icon>save_alt</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr *ngFor="let work of recentWorks">
                <td>{{work.start | date:'dd.MM.yyyy HH:mm'}}</td>
                <td>{{work.id}}</td>
                <td>{{work.reason}} </td>
            </tr>
            
        </table>

        <button mat-stroked-button color="primary">Alle anzeigen</button>

    </mat-card-content>
</mat-card>

<button id="cta" color="primary" mat-fab aria-label="Neues Project" routerLink="/newproject">
    <mat-icon>add</mat-icon>
</button>